@font-face {
    font-family: 'FuturaBT-Medium';
    src: url('../fonts/futurabt-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/futurabt-medium.woff') format('woff'), url('../fonts/futurabt-medium.ttf') format('truetype'), url('../fonts/futurabt-medium.svg#futurabt-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/futurapt-demi.eot?#iefix') format('embedded-opentype'), url('../fonts/futurapt-demi.otf') format('opentype'),
    url('../fonts/futurapt-demi.woff') format('woff'), url('../fonts/futurapt-demi.ttf') format('truetype'), url('../fonts/futurapt-demi.svg#futurapt-demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../fonts/futurapt-light.eot?#iefix') format('embedded-opentype'), url('../fonts/futurapt-light.otf') format('opentype'),
    url('../fonts/futurapt-light.woff') format('woff'), url('../fonts/futurapt-light.ttf') format('truetype'), url('../fonts/futurapt-light.svg#futurapt-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futurapt-bold.eot');
    src: url('../fonts/futurapt-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futurapt-bold.woff2') format('woff2'),
    url('../fonts/futurapt-bold.woff') format('woff'),
    url('../fonts/futurapt-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/futurapt-book.woff2') format('woff2'),
    url('../fonts/futurapt-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Lato', sans-serif;*/

html,
body {
    margin: 0;
    padding: 0;
    counter-reset: section;
}

body {
    background: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
}


.eligibility h4::before {
    counter-increment: section;
    content: "" counter(section) ". ";
}

.header {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

::selection {
    background: #fe7a8c;
    color: #fff;
}

::-moz-selection {
    background: #fe7a8c;
    color: #fff;
}

.form-control:focus {
    border-color: #d5d5d5;
    box-shadow: none;
    outline: 0 none;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.clearfix {
    clear: both;
}

/* Thank You Page */

.thankyou-cover {
    position: relative;
}

.contact-page {
    position: relative;
}

[data-section] {
    padding: 110px 0;
}

.thankyou-cover .tick {
    display: block;
    margin: 0 auto 70px;
    width: 160px;
    height: 160px;
    color: #16bb16;
    text-align: center;
    font-size: 65px;
    line-height: 160px;
    border: solid 2px #16bb16;
    border-radius: 100%;
}

.thankyou-cover .thnkyou-message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}

.thankyou-cover .thnkyou-message p {
    margin: 0;
    font-size: 18px;
}

@media screen and (min-width:1530px) {
    .container {
        width: 1500px;
    }
}

.sticky_header {
    display: none;
}
/* Banner_Section-Start */

div#carousel {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.page-id-6 .banner-section {
    padding-bottom: 245px;
    position: relative;
    overflow: hidden;
}

.banner-section.about_us {
    padding-bottom: 135px;
}

.banner_head {
    position: absolute;
    top: 215px;
    left: 0;
    right: 0;
    z-index: 99;
}

.banner-section:after {
    content: '';
    background-color: #5e94fc;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 995px;
    transform-origin: bottom right;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    position: relative;
    top: -172px;
    left: -20px;
}

.banner-section:before {
    content: '';
    background-color: #fe7a8c;
    display: block;
    width: 100%;
    max-width: 1335px;
    height: 1180px;
    position: absolute;
    right: 0;
    z-index: 9;
    transform-origin: top left;
    -webkit-transform: skew(20deg, 7deg);
    transform: skew(20deg, 7deg);
    top: -165px;
}

.header_section .navbar-brand {
    float: none;
    height: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.header_section .navbar {
    min-height: 0;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid transparent;
}

header.header_section {
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    margin: 10px 0 0;
}

.header_section .collapse.navbar-collapse {
    float: right;
    margin-top: 55px;
    padding-right: 0;
}

.header_section .navbar-nav {
    float: left;
    margin-top: 18px;
    display: inline-block;
    vertical-align: middle;
}

.header_section .your_plan {
    /*  display: inline-block;
    vertical-align: middle;*/
    float: right;
}

.header_section .navbar.navbar-default {
    background-color: transparent;
    border: none !important;
}

.header_section .navbar-default .navbar-nav > li {
    padding: 0 22px;
}

.header_section .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 23px;
    font-family: 'FuturaBT-Medium';
    padding: 0;
}

.header_section .navbar-default .navbar-nav > li > a:hover {
    color: #fed0d6;
}

.footer_head ul li.current-menu-item a,
.footer_head ul li.current-menu-item a:focus,
.footer_head ul li.current-menu-item a:hover,
.header_section .navbar-default .navbar-nav > .current-menu-item > a,
.header_section .navbar-default .navbar-nav > .current-menu-item > a:focus,
.header_section .navbar-default .navbar-nav > .current-menu-item > a:hover {
    color: #fed0d6;
    background-color: transparent;
}

.your_plan .plan_head {
    display: inline-block;
    vertical-align: middle:
}

.your_plan .buttons_right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.your_plan .buttons_right a,
.your_plan .plan_head a {
    color: #fff;
    font-size: 23px;
    font-family: 'FuturaBT-Medium';
    border: 2px solid #fff;
    padding: 10px 0;
    border-radius: 42px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    min-width: 162px;
}

.your_plan .buttons_right a:hover,
.your_plan .plan_head a:hover {
    border: 2px solid #fff;
    background: #fff;
    color: #fe7a8c;
}


/*  Main-Area-Section */

.main_area {
    position: relative;
}

.main_area .mobile {
    width: 100%;
    max-width: 745px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 170px;
    margin-top: 50px;
}

.main_area .mobile figure {
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
    height: 820px;
    width: 100%;
    max-width: 480px;
}

.main_area .main-slide {
    width: 100%;
    max-width: 720px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 200px;
    z-index: 9;
}

.main-slide .owl-carousel .item ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.main-slide .owl-carousel .item ul li {
    color: #fff;
    font-size: 28px;
    font-family: 'FuturaBT-Medium';
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.main-slide .owl-carousel .item ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(../images/white-arrow.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #fff;
    width: 14px;
    height: 14px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
}

.main-slide .owl-theme .owl-dots .owl-dot.active span,
.main-slide .owl-theme .owl-dots .owl-dot:hover span {
    background: transparent;
    border: 2px solid #fff;
}

.main-slide .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    left: 110px;
    bottom: -230px;
}

.main_area .game_mode {
    position: absolute;
    bottom: -155px;
    right: -120px;
}

/*  Bootstrap-Slider  */

.main_area .carousel-inner .item ul {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    max-width: 640px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 200px;
    right: 0;
}

.main_area .carousel-inner .item ul li {
    color: #fff;
    font-size: 28px;
    font-family: 'FuturaBT-Medium';
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.main_area .carousel-inner .item ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(../images/white-arrow.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main_area .carousel-control.left,
.main_area .carousel-control.right {
    background-image: none;
}

.main_area .carousel-indicators li {
    border: 2px solid #fff;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    background: #fff;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
}

.main_area .carousel-indicators li.active {
    background: transparent;
    border: 2px solid #fff;
    width: 14px;
    height: 14px;
    margin: 0 5px;
}

.main_area .carousel-indicators {
    position: absolute;
    right: 110px;
    bottom: 260px;
    padding-left: 222px;
    opacity: 0;
}

.main_area .game_mode {
    position: absolute;
    bottom: -155px;
    right: -120px;
}


/*  //Bootstrap-Slider  */

/*  About-Section */

.about-section {
    text-align: center;
    margin-bottom: 80px;
    margin-top: -35px;
}

.main_heading h3 {
    color: #010101;
    font-size: 55px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    padding-top: 55px;
}

.main_heading h3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 45%;
    height: 11px;
    width: 44px;
    border-radius: 6px;
    background: #52ded6;
}

.main_heading h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 11px;
    width: 85px;
    border-radius: 6px;
    background: #fe7a8c;
}

.about-section .about_head p {
    color: #363636;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.read_more {
    margin: 60px 0 60px 10px;
}

.read_more a {
    color: #fff;
    background: #52ded6;
    border: 4px solid #d7f7f6;
    padding: 16px 60px;
    border-radius: 60px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'FuturaPT-Demi';
}

.read_more a:hover {
    color: #52ded6;
    background: #d7f7f6;
    border: 4px solid #52ded6;
}

.read_more .wpcf7-form-control {
    color: #fff;
    background: #52ded6;
    border: 4px solid #d7f7f6;
    padding: 20px 60px;
    border-radius: 60px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'FuturaPT-Demi';
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.read_more .wpcf7-form-control:focus,
.read_more .wpcf7-form-control:hover {
    color: #52ded6;
    background: #d7f7f6;
    border: 4px solid #52ded6;
    outline: none;
}

.dowanload_content .read_more a {
    color: #fff;
    background: #52ded6;
    border: 4px solid #d7f7f6;
    padding: 17px 40px;
    border-radius: 60px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'FuturaPT-Demi';
}

.dowanload_content .read_more a:hover {
    color: #52ded6;
    background: #d7f7f6;
    border: 4px solid #52ded6;
}

/* Top Games Section */

.top-games {
    position: relative;
}

.top_middle {
    padding-top: 50px;
}

.main-top-games {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: 912;
}

.top-games:after {
    content: '';
    background-color: #ffcb2a;
    display: block;
    width: 100%;
    max-width: 835px;
    height: 915px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    transform-origin: top left;
    /* -webkit-transform: skew(0);
    transform: skew(0deg);*/
    -webkit-clip-path: polygon(15% 5%, 100% 0px, 100% 100%, 7% 95%);
    clip-path: polygon(15% 5%, 100% 0px, 100% 100%, 7% 95%);
}

.top-games:before {
    content: '';
    background-color: #5f93ff;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 915px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    transform-origin: top left;
    /* -webkit-transform: skew(0);
    transform: skew(0deg);*/
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}

.top-games .main_heading h3 {
    color: #fff;
    font-size: 55px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    position: relative;
    padding-top: 20px;
    margin-top: 70px;
    letter-spacing: 2px;
}

.main_heading {
    position: relative;
}

.main_heading a {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #13635e;
    font-size: 18px;
    font-family: 'FuturaBT-Medium';
}

.main_heading a:hover {
    color: #5e94fc;
}

.top-games .main_heading h3:after {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    height: 11px;
    width: 44px;
    border-radius: 6px;
    background: #52ded6;
}

.top-games .main_heading h3:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 70px;
    height: 11px;
    width: 85px;
    border-radius: 6px;
    background: #fe7a8c;
}

.army_man {
    position: absolute;
    right: 230px;
    top: -190px;
}

.games_slide .owl-dots {
    display: none;
}

.games_slide .owl-theme .owl-nav {
    margin-top: 25px;
}

.games_slide .owl-theme .owl-nav [class*="owl-"] {
    font-size: 0;
    background: no-repeat;
}

.games_slide .owl-nav .owl-next:after {
    content: '';
    background-image: url('../images/arrow_right.png');
    width: 40px;
    height: 12px;
    position: absolute;
    left: auto;
    right: 50%;
    margin-right: -100px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.games_slide .owl-nav .owl-prev:after {
    content: '';
    background-image: url('../images/arrow_left.png');
    width: 40px;
    height: 12px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*  Dowanload-Section-Start */

.dowanload {
    margin-bottom: 100px;
}

.dowanload_img {
    width: 100%;
}

.dowanload_now {
    position: relative;
}

.dowanload_now {
    position: absolute;
    top: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f4f3ef;
    padding: 175px 0 0;
    -webkit-clip-path: polygon(0% 0%, 100% 5%, 90% 100%, 5% 90%);
    clip-path: polygon(0% 0%, 100% 5%, 90% 100%, 5% 90%);
}

.pink_back {
    position: relative;
}

.pink_back:before {
    content: '';
    display: block;
    background: #fe7a8c;
    height: 760px;
    position: relative;
    z-index: 1;
    bottom: 0;
    top: 215px;
    left: 0;
    right: 0;

    /* top: -25px;
    left: 55px;
    -webkit-transform: skew(8deg, 6deg);
    transform: skew(8deg, 6deg);
    width: 80%;*/
    -webkit-clip-path: polygon(10% 10%, 95% 10%, 87% 76%, 10% 61%);
    clip-path: polygon(10% 10%, 95% 10%, 87% 76%, 10% 61%);
}

.dowanload_img {
    width: 100%;
    max-width: 735px;
    display: inline-block;
    vertical-align: middle;
}

.dowanload_content {
    width: 100%;
    max-width: 700px;
    display: inline-block;
    vertical-align: top;
}

.dowanload_img figure {
    background-size: inherit;
    /* background-position: center;*/
    background-repeat: no-repeat;
    height: 540px;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.dowanload_content p {
    color: #010101;
    font-size: 34px;
    font-family: 'FuturaPT-Light';
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.dowanload_content strong {
    color: #010101;
    font-size: 34px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    margin-bottom: 90px;
    letter-spacing: 1px;
    display: block;
}

.dowanload_content h6 {
    position: relative;
    margin-bottom: 85px;
    top: 50px;
}

.dowanload_content h6:after {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    height: 11px;
    width: 44px;
    border-radius: 6px;
    background: #52ded6;
}

.dowanload_content h6:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 70px;
    height: 11px;
    width: 85px;
    border-radius: 6px;
    background: #fe7a8c;
}

/* Blog-Section-Start */

.blog .main_heading h3 {
    text-align: center;
    padding-top: 40px;
}

.blog_head {
    background: #f4f3ef;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 12;
    -webkit-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
}

.blog_bottom {
    position: relative;
    margin-bottom: 90px;
}

.blog_bottom:before {
    content: '';
    display: block;
    background: #fe7a8c;
    height: 620px;
    position: relative;
    top: 37px;
    z-index: 1;
    bottom: 0;
    left: 27px;
    right: 0;
    -webkit-transform: skew(5deg, 1deg);
    transform: skew(5deg, 1deg);
    width: 70%;
}

.blog_head .blog_date {
    background: #fe7a8c;
    height: 85px;
    width: 110px;
    text-align: center;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left top;
    /*   -webkit-transform: skew(6deg, 5deg);
    transform: skew(6deg, 5deg);*/
}

.blog_head .date_skew {
    margin-top: 14px;
    -webkit-transform: skew(-6deg, -5deg);
    transform: skew(-6deg, -5deg);
}

.blog_head .blog_date strong {
    color: #fff;
    font-size: 31px;
    line-height: 31px;
    /*font-family: 'FuturaPT-Demi';*/
    font-family: 'Futura PT';
}

.blog_head .blog_date p {
    color: #fff;
    font-size: 21px;
    line-height: 21px;
    font-family: 'FuturaPT-Light';
}

.blog_minus {
    transform-origin: 220px 295px;
    display: block;
    width: 100%;
    -webkit-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
}

.blog_img {
    transform-origin: 220px 441px;
    display: block;
    width: 100%;
    -webkit-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
}

.blog_img figure {
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat;
    height: 300px;
    width: 103%;
}

.blog_content {
    padding: 0 28px;
    text-align: center;
    margin: 72px 0;
}

.blog_content h3 {
    color: #58585a;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'FuturaBT-Medium';
}

.blog_content p {
    color: #58585a;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 2px;
    font-family: 'FuturaPT-Light';
}


/*  Contact-Form */

.contact_form {
    position: relative;
}

.contact_form:after {
    content: '';
    background-color: #52ded6;
    width: 100%;
    max-width: 800px;
    height: 1060px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-clip-path: polygon(0% 0%, 95% 8%, 100% 93%, 0% 100%);
    clip-path: polygon(0% 0%, 95% 8%, 100% 93%, 0% 100%);
}

.contact_form:before {
    content: '';
    background-color: #fe7a8c;
    width: 100%;
    max-width: 100%;
    height: 1060px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    -webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 80%);
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 80%);
}

.form_field {
    width: 100%;
    max-width: 650px;
    border-radius: 45px;
    text-align: center;
    position: relative;
    border: 7px solid rgba(0, 0, 0, 0.18);
    top: 200px;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 98;
    transform: translate(-50%);
    z-index: 932;
    overflow: hidden;
}

.form_field_border {
    padding: 50px 50px 65px;
    width: 100%;
    max-width: 670px;
    background: #fff;
    border-radius: 40px;
}

.form_field h3 {
    color: #383837;
    font-size: 55px;
    letter-spacing: 2px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    margin-bottom: 60px;
}

.form_field h3:after {
    content: '';
    width: 60px;
    height: 3px;
    background: #52ded6;
    display: block;
    margin: 10px auto;
}

.form_field .form_list .form-group {
    position: relative;
}

.form_field .form_list .form-group input[type="name"] {
    text-transform: capitalize;
}

.form_field .form_list .form-group .form-control {
    border-radius: 50px;
    border: 3px solid #c9dadc;
    height: 68px;
    line-height: 62px;
    color: #8f8f8f;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    padding: 2px 20px 0 55px;
    box-shadow: none;
    line-height: 54px;
    resize: none;
    overflow: hidden;
}

.form-control.wpcf7-not-valid {
    border: 3px solid #f00 !important;
}

div.wpcf7-validation-errors {
    border: 2px solid #f00;
    border-radius: 30px;
    padding: 10px 0;
    font-size: 16px;
    font-family: 'FuturaPT-Light';
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 0;

}

.form_field .form_list .form-group .form-control:focus,
.form_field .form_list .form-group .form-control:hover {
    box-shadow: 0px 1px 2px #52ded6;
}

.form_field .form_list .form-group i {
    color: #52ded6;
    position: absolute;
    top: 0;
    height: 68px;
    line-height: 103px;
    left: 25px;
    z-index: 1;
    font-size: 24px;
}

.form_field .form_list .form-group {
    margin-bottom: 0 !important;
}

.form_field .form_list .form-group i.mail {
    font-size: 20px;
}

.form_field .form_list .form-group i.phone {
    font-size: 30px;
}

.form_field .read_more {
    margin: 30px 0 0;
}

.game_boy {
    position: relative;
    top: auto;
    bottom: -60px;
    left: 0;
    z-index: 123;
}

.game_boy_right {
    position: absolute;
    right: 70px;
    top: auto;
    bottom: 0;
    z-index: 123;
}

/*  Footer-Section */

.footer_head {
    text-align: center;
}

.footer_logo {
    margin-bottom: 45px;
}

.footer_head ul {
    padding: 0;
    list-style: none;
    margin-bottom: 45px;
}

.footer_head ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.footer_head ul li a {
    color: #000;
    font-size: 23px;
    font-family: 'Futura PT Book';
    word-spacing: 1px;
}

.footer_head ul li a:hover {
    color: #fe7a8c;
}

.social_icon {
    margin: 55px 0;
}

.social_icon ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.social_icon ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.social_icon ul li a {
    width: 67px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    color: #52ded6;
    border-radius: 50%;
    border: 1px solid #52ded6;
    display: block;
}

.social_icon ul li a i {
    font-size: 24px;
}

.social_icon ul li a:hover {
    color: #dd6a7a;
    border: 1px solid #dd6a7a;
}

.footer_bottom {
    background: #363636;
    padding: 15px 0;
    text-align: center;
}

.footer_bottom {
    color: #fff;
    font-size: 14px;
    font-family: 'FuturaPT-Light';
}

/* About-Us */

.about_area {
    border-bottom: 4px solid #fe7a84;
    margin-bottom: 65px;
    padding-top: 60px;
}

.banner-section.about_us {
    position: relative;
    margin-bottom: 120px;
}

.heading h2 {
    color: #fff;
    font-size: 55px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    margin-top: 100px;
}

.banner-section.about_us::after {
    content: '';
    background-color: #5e94fc;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 570px;
    transform-origin: bottom right;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    position: relative;
    top: -195px;
    left: -20px;
}

.banner-section.about_us::before {
    content: '';
    background-color: #fe7a8c;
    display: block;
    width: 100%;
    max-width: 1335px;
    height: 735px;
    position: absolute;
    right: 0;
    z-index: 9;
    transform-origin: top left;
    -webkit-transform: skew(18deg, 3deg);
    transform: skew(18deg, 3deg);
    top: -165px;
}

.main_area .game_mode.about_mode {
    position: absolute;
    bottom: -324px;
    right: 125px;
}

.about_field p {
    color: #363636;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'FuturaPT-Light';
    margin-bottom: 35px;
    line-height: 1.6;
}

.about_img figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 820px;
    width: 100%;
    max-width: 480px;
    margin-left: 50px;
}

.about_bottom {
    margin: 20px 0 60px;
}

.about_bottom p {
    color: #363636;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'FuturaPT-Light';
    margin-bottom: 25px;
    line-height: 1.6;
}

.fav_head {
    margin-bottom: 45px;
}

.fav_head h3 {
    color: #383837;
    font-size: 55px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    letter-spacing: 2px;
}

.twitter figure {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.twitter:hover figure {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.twitter {
    margin-bottom: 36px;
    position: relative;
    z-index: 2;
}

.about_area.contact_section_form {
    padding-bottom: 80px;
}

.twitter_right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 32px;
}

.twitter_right h4 {
    color: #58585a;
    font-size: 20px;
    font-family: 'FuturaBT-Medium';
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.6;
}

.twitter_right a {
    color: #58585a;
    font-size: 20px;
    font-family: 'Futura PT Book';
    letter-spacing: 2px;
}

.twitter_right a:hover {
    color: #fe7a8c;
}

.twit_icon::before {
    content: '';
    display: block;
    height: 3px;
    width: 70px;
    background: #ebebeb;
    position: relative;
    top: 122px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 10px;
    z-index: 1;
}

.get_in_tuch .form_field {
    border-radius: 45px;
    text-align: center;
    position: relative;
    border: 7px solid #c9dadc;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 98;
    transform: translate(-50%);
    z-index: 932;
}

.get_in_tuch {
    position: relative;
}

.get_in_tuch:before {
    content: '';
    bottom: -29px;
    position: absolute;
    background: #fff url(../images/frantic-drop-shadow.png) no-repeat;
    background-size: cover;
    z-index: 12;
    display: block;
    width: 100%;
    height: 30px;
    left: 75px;
    max-width: 575px;
}


/* Top Game */

.top_games {
    padding: 55px 0 35px;
}

.top_games.about_area .col-md-3.col-sm-4.col-xs-12:nth-child(4n + 1) {
    clear: both;
}

.game_review {
    margin-bottom: 55px;
}

.top_games p {
    color: #58585a;
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    font-family: 'FuturaPT-Light';
    letter-spacing: 2px;
    margin-bottom: 65px;
}

.top_games .game_content h3 {
    color: #58585a;
    font-size: 20px;
    line-height: 1.8;
    font-family: 'FuturaBT-Medium';
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.top_games .game_content h3 a {
    color: #58585a;
    font-size: 20px;
    line-height: 1.8;
    font-family: 'FuturaBT-Medium';
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.top_games .game_content h3 a:hover {
    color: #fe7a8c;
}

.top_games .game_content p {
    color: #58585a;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'FuturaPT-Light';
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 0;
}

.top_games .game_img {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.top_games .game_img figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    width: 100%;
    max-width: 345px;

}

.top_games .game_img .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(94, 148, 252, 0.55);
    /* border: 10px solid #fe7a8c;*/
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.top_games .game_review:hover .game_img .overlay {
    height: 100%;
}

/* Blog */

.top_games .blog_review .blog-img figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 460px;
    width: 100%;
    max-width: 725px;
}

.top_games .blog_review .blog-img {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.game_content.blog ul {
    padding: 0;
    list-style: none;
    margin: 12px 0;
}

.game_content.blog ul li a,
.game_content.blog ul li {
    display: inline-block;
    color: #58585a;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Futura PT Book';
    letter-spacing: 2px;
}

.game_content.blog ul li a:hover {
    color: #fe7a84;
}

.read-btn a {
    color: #fe7a8c;
    font-size: 22px;
    line-height: 1.6;
    font-family: 'Futura PT Book';
    letter-spacing: 2px;
}

.read-btn {
    margin: 25px 0;
}

.read-btn a:hover {
    color: #5e94fc;
}

.pegi_center .pagination > li {
    margin: 0 5px;
}

.pegi_center .pagination > .active > a,
.pegi_center .pagination > .active > a:focus,
.pegi_center .pagination > .active > a:hover,
.pegi_center .pagination > .active > span,
.pegi_center .pagination > .active > span:focus,
.pegi_center .pagination > .active > span:hover {
    color: #fff;
    cursor: default;
    background-color: #52e0d6;
    border-color: #52e0d6;
}

.pegi_center .pagination li a:hover {
    color: #fff;
    background-color: #52e0d6;
    border-color: #52e0d6;
}

.pegi_center .pagination > li > a,
.pegi_center .pagination > li > span {
    position: relative;
    float: none;
    padding: 6px 20px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #ebebeb;
    border: none;
    border-radius: 4px;
    font-size: 35px;
    font-family: 'FuturaPT-Demi';
}

.pegi_center {
    text-align: center;
}

.pegi_center .pagination {
    margin: 35px 0 50px;
}

/* Blog-Details */

.product_input input {
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Light';
    height: 55px;
    border: 1px solid #e2e2e2;
    box-shadow: none;
    border-radius: 1px;
    margin-bottom: 20px;
    background: url("../images/search.png") no-repeat 97% 50%;
    padding-right: 35px;
    opacity: 0.8;
    text-shadow: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.product_input input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Light';
    opacity: 1;
}

.product_input input::-moz-placeholder {
    /* Firefox 19+ */
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Light';
    opacity: 1;
}

.product_input input:-ms-input-placeholder {
    /* IE 10+ */
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Light';
    opacity: 1;
}

.product_input input:-moz-placeholder {
    /* Firefox 18- */
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Light';
    opacity: 1;
}

.product_input input:hover,
.product_input input:focus {
    opacity: 1;
    border: 1px solid #52ded6;
}

.product_input {
    margin-bottom: 40px;
}

.recent_post {
    border: 1px solid #e2e2e2;
    padding: 30px 35px 10px;
    margin-bottom: 35px;
}

.recent_post h3 {
    color: #231f20;
    font-size: 20px;
    line-height: 1.4;
    font-family: 'FuturaBT-Medium';
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.recent_post h3:after {
    content: '';
    width: 60px;
    height: 3px;
    background: #52ded6;
    display: block;
    margin: 10px 0;
}

.blog_details_img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 100px;
}

.detail_content {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 290px;
}

.blog_details_img a figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75px;
    width: 100%;
    max-width: 80px;
}

.detail_content a {
    color: #231f20;
    font-size: 17px;
    line-height: 1.4;
    font-family: 'FuturaBT-Medium';
    letter-spacing: 1px;
    margin-bottom: 3px;
    display: block;
}

.detail_content a:hover {
    color: #52ded6;
}

.detail_content p {
    color: #231f20;
    font-size: 17px;
    line-height: 1.4;
    font-family: 'FuturaPT-Light';
    letter-spacing: 1px;
}

.recent_blog {
    margin-bottom: 25px;
}

.recent_blog.month ul {
    padding: 0;
    list-style: none;
}

.recent_blog.month ul li {
    margin-bottom: 10px;
}

.recent_blog.month ul li a {
    color: #fe7a8c;
    font-size: 17px;
    line-height: 1.4;
    font-family: 'FuturaBT-Medium';
    letter-spacing: 1px;
}

.recent_blog.month ul li a:hover {
    color: #52ded6;
}

.detail-images figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 520px;
    width: 100%;
    max-width: 1075px;
}

.details_blog h3 {
    color: #010101;
    font-size: 34px;
    line-height: 1.4;
    font-family: 'FuturaBT-Medium';
    letter-spacing: 1px;
}

.detail-images {
    margin-bottom: 10px;
    display: block;
}

.details_blog ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.details_blog ul li {
    display: inline-block;
    margin: 0 5px;
}

.details_blog ul li {
    color: #010101;
    font-size: 20px;
    line-height: 1.4;
    font-family: 'FuturaPT-Light';
    letter-spacing: 1px;
}

.details_blog ul li a {
    color: #010101;
    font-size: 20px;
    line-height: 1.4;
    font-family: 'FuturaPT-Light';
    letter-spacing: 1px;
}

.details_blog p {
    color: #58585a;
    font-size: 20px;
    line-height: 1.8;
    font-family: 'FuturaPT-Light';
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.details_blog p:last-child {
    margin-bottom: 90px;
}

/*  Landing-Page */

.landing_section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    margin: 0 auto;
}

.landing_section:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 243, 243, 0.48);
}

/*  Game-Details-Page */

.profile_img {
    width: 100%;
    max-width: 158px;
    display: inline-block;
    vertical-align: middle;
}

.profile_content {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 135px;
    padding-left: 25px;
}

.detail_slider {
    margin-bottom: 30px;
}

.rating_area {
    border: 1px solid #e2e2e2;
}

.rating_profile {
    padding: 25px;
}

.rating_star figure svg {
    width: 14px;
    height: 14px;
    fill: #facb16;
}

.rating_star figure {
    display: inline-block;
    vertical-align: middle;
}

.profile_content strong {
    color: #fe7a8c;
    font-size: 55px;
    font-family: 'FuturaBT-Medium';
}

.rating_profile .read_more {
    text-align: center;
    margin: 50px 0;
}

.rating_profile .read_more a {
    padding: 12px 45px;
}

.ipad {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    padding: 15px 0;
}

.ipad ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.ipad ul li {
    display: inline-block;
    font-size: 20px;
    color: #363636;
    font-family: 'FuturaBT-Medium';
    margin: 0 25px;
}

.ipad ul li i {
    margin-right: 10px;
}

.version {
    padding: 25px;
}

.version ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.version ul li {
    font-size: 20px;
    color: #363636;
    font-family: 'FuturaPT-Light';
    margin-bottom: 8px;
}

.version ul li strong {
    font-size: 20px;
    color: #363636;
    margin-right: 12px;
    font-family: 'FuturaBT-Medium';
}

.detail_slider {}

.section.top_games.about_area.game_details {
    padding-top: 0
}

.detail_slider h3 {
    font-size: 34px;
    color: #010101;
    font-family: 'FuturaBT-Medium';
    margin-bottom: 12px;
    text-align: left;
}

.detail_slider p {
    font-size: 20px;
    color: #363636;
    text-align: left;
    font-family: 'FuturaPT-Light';
    line-height: 1.6;
    margin-bottom: 20px !important;
}

.slider .flexslider {
    margin: 0 0 20px;
}

div#carousel {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
}

/*  -carousel-arrow-css-  */

#slider .flex-direction-nav .flex-prev,
#slider .flex-direction-nav .flex-next {
    display: none;
}

.flex-direction-nav:hover .flex-prev {
    left: -50px;
    opacity: 1;
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 1!important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: 1;
}

.flex-direction-nav a:before {
    font-size: 18px;
    display: block;
    content: "\f053";
    font-family: FontAwesome;
    color: #fe7a8c;
    text-shadow: none;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border: 3px solid #e0e0e0;
    border-radius: 100%;
    text-align: center;
}

.flex-direction-nav a.flex-next:before {
    content: "\f054";
    font-family: FontAwesome;
}

.main-popup .modal-header h3 {
    color: #fff;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 2px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
}

/*.main-popup h3:after {
    content: '';
    width: 60px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 10px auto;
}*/

.main-popup .pop_ul {
    counter-reset: section;
}

.pop_ul ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.pop_ul ul li::before {
  counter-increment: section;
    content: " " counter(section) "";
    font-size: 22px;
    font-family: 'FuturaPT-Demi';
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 2px solid #dedede;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border-radius: 100%;
    margin-right: 20px;
    background: #f7bd2a;
}

.pop_ul ul li figure {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;

}

.pop_ul ul li {
    color: #383837;
    font-size: 20px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    padding:0;
    position: relative;
}
.pop_ul ul li p{
   color: #383837;
    font-size: 24px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    padding: 15px 10px 0 55px;
}
.pop_ul ul li p strong{
   color: #383837;
    font-size: 30px;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    padding: 15px 10px 0 55px;
}
.pop_ul ul li:last-child {
    border: none;
    padding: 25px 0 0;
}

.main-popup .modal-dialog {
    width: 650px;
    margin: 30px auto;
}

.main-popup button.close {
    width: 35px;
    height: 35px;
    line-height: 31px;
    background: #fff;
    opacity: 1;
    border-radius: 100%;
    font-size: 28px;
    text-align: center;
    padding-left: 3px;
    display: block;
    -webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.modal-header .close:hover{
    background: #fff;
    color: #a557a7;
    opacity: 1;
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
    z-index: 1000;
}
.main-popup .modal-header {
    border-bottom: none;
    background: #0f6b99;
    padding: 12px 15px;
    text-align: center;
}

.pop_ul ul li span {
    padding-left: 0;
    width: 465px;
    display: inline-block;
    vertical-align: middle;
}
/* .pop_ul ul li:nth-child(2) span {
        width: 525px;
    }*/
/* // Game-Details-Page */

/*  Landing-Page */

.logo_center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.navbar-header.landing a.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    display: inline-block;
}

.navbar-header.landing a.navbar-brand img {
    border: 15px solid #fff;
    border-radius: 36px;
}

.navbar-header.landing {
    /* text-align: center;*/
    width: 100%;
    position: relative;
    top: 0;
    z-index: 12;
}

.landing_section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 950px;
    width: 100%;
    margin: 90px auto 0;
    position: relative;
}

.landing_section:after {
    content: '';
    display: block;
    width: 100%;
    height: 93%;
    background-color: rgba(133, 243, 243, 0.84);
    position: absolute;
    top: 0;
    z-index: 1;
}

.landing_section::before {
    content: '';
    display: block;
    width: 100%;
    height: 85px;
    background-color: #fff;
    position: absolute;
    bottom: 31px;
    z-index: 211;
    transform: skew(0deg, -2deg);
}

.landing {
    position: relative;
    top: 180px;
    z-index: 123;
}

.landing_content h2 {
    color: #fff;
    font-size: 45px;
    line-height: 1.4;
    font-family: 'FuturaPT-Demi';
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.landing_content h3 {
    color: #fff;
    font-size: 45px;
    line-height: 1.2;
    font-family: 'Futura PT Book';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.landing_content .download a {
    background-color: #fe7a8c;
    border: 1px solid #fe7a8c;
    padding: 14px 30px;
    color: #fff;
    font-size: 25px;
    line-height: 1.4;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
}

.landing_content .download a:hover {
    background-color: #fff;
    border: 1px solid #fe7a8c;
    color: #fe7a8c
}

.landing_img figure {
    background-position: center;
    background-repeat: no-repeat;
    height: 575px;
    width: 100%;
}

.landing_content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 865px;
    padding: 25px;
}

.landing_img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 600px;
    padding-top: 85px;
}

.view {
    height: 271px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 30px;
}

.landing_box .view figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.trust_area h4 {
    color: #1f1f1f;
    font-size: 40px;
    line-height: 1.4;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 65px;
    padding-top: 30px;
}

.trust_area .step h4 {
    color: #58585a;
    font-size: 24px;
    line-height: 1.4;
    font-family: 'FuturaBT-Medium';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.trust_area .step span {
    color: #fff;
    background-color: #52ded6;
    padding: 10px 45px;
    font-size: 25px;
    line-height: 1.4;
    font-family: 'FuturaPT-Demi';
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
}

.trust_area .step span:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 26px solid #fff;
    transform: rotate(270deg);
    position: absolute;
    top: 13px;
    right: -13px;
}

.trust_area .step span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 26px solid #fff;
    transform: rotate(90deg);
    position: absolute;
    top: 13px;
    left: -13px;
}

.trust_area .step p {
    color: #58585a;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'FuturaPT-Light';
}

.step {
    text-align: center;
    padding: 0 30px;
}

.trust_area {
    margin-top: -20px;
}

.footer_bg {
    background-position: center;
    background-repeat: no-repeat;
    height: 490px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
}

.footer_bg:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(61, 61, 61, 0.87);
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
}

.footer_bg::before {
    content: '';
    display: block;
    width: 100%;
    height: 105px;
    background-color: #fff;
    position: absolute;
    top: -51px;
    z-index: 211;
    transform: skew(0deg, -3deg);
}

.footer_head.landing {
    position: absolute;
    top: 27%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 123;
}

.footer_bottom.landing {
    color: #fff;
    font-size: 14px;
    font-family: 'FuturaPT-Light';
    position: absolute;
    bottom: 0;
    z-index: 999999;
    left: 0;
    right: 0;
    top: 90%;
    background: rgba(0, 0, 0, 0.24);
}

.main_area .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.main_area .carousel-fade .carousel-inner .item,
.main_area .carousel-fade .carousel-inner .active.left,
.main_area .carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.main_area .carousel-fade .carousel-inner .active,
.main_area .carousel-fade .carousel-inner .next.left,
.main_area .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.main_area .carousel-fade .carousel-inner .next,
.main_area .carousel-fade .carousel-inner .prev,
.main_area .carousel-fade .carousel-inner .active.left,
.main_area .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.banner-section.about_us {
    margin-bottom: 0;
}

.page-id-6 .item .read_more {
    margin: 0;
    position: absolute;
    bottom: 375px;
    left: 50%;
}

/* =======================================
        Desktop-Version
============================================*/

@media screen and (max-width:1499px) {
    .banner-section:after {
        max-width: 960px;
        height: 1040px
    }
    .pop_ul ul li span {
        width: 350px;
        font-size: 26px;
    }
  /*  .pop_ul ul li:nth-child(2) span {
        width: 525px;
    }*/
    .page-id-6 .banner-section {
        padding-bottom: 160px;
    }
    .banner-section:before {
        max-width: 1075px;
        height: 1160px;
    }
    .header_section .collapse.navbar-collapse {
        margin-top: 55px;
    }
    .main_area .mobile {
        padding-left: 45px;
        margin-top: 35px;
        max-width: 515px;
    }
    .header_section .collapse.navbar-collapse {
        padding: 0;
    }
    .header_section .navbar-default .navbar-nav > li {
        padding: 0 18px;
    }
    .header_section .navbar-default .navbar-nav > li > a {
        font-size: 20px;
    }
    .your_plan .buttons_right a,
    .your_plan .plan_head a {
        font-size: 18px;
        padding: 10px 0;
        min-width: 150px;
    }
    .main_area .game_mode {
        bottom: -130px;
        right: -80px;
    }
    .banner-section {
        padding-bottom: 160px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .banner-section.about_us {
        padding-bottom: 35px;
    }

    .top-games:before {
        height: 790px;
    }
    .top-games:after {
        height: 810px;
        -webkit-clip-path: polygon(40% 6%, 100% 0%, 100% 100%, 31% 93%);
        clip-path: polygon(40% 6%, 100% 0%, 100% 100%, 31% 93%);
    }
    .army_man {
        right: 60px;
    }
    .dowanload_img {
        max-width: 560px;
    }
    .dowanload_content {
        max-width: 560px;
    }
    .blog_content h3 {
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 20px;
        letter-spacing: 1px;
        margin-left: 10px;
    }
    .blog_content {
        padding: 0 10px;
        margin: 60px 0;
    }
    .blog_content p {
        font-size: 16px;
        margin-left: 20px;
    }
    .blog_bottom:before {
        height: 602px;
        top: 15px;
    }

    .contact_form:before {
        height: 935px;
    }
    .contact_form:after {
        height: 950px;
        -webkit-clip-path: polygon(0% 0%, 67% 8%, 78% 93%, 0% 100%);
        clip-path: polygon(0% 0%, 67% 8%, 78% 93%, 0% 100%);
    }
    .form_field {
        top: 175px;
    }
    .blog_img figure {
        background-size: cover;
        background-position: center;
    }
    .game_boy {
        bottom: -75px;
        left: 0;
        width: 235px;
        height: 415px;
    }
    .game_boy img {
        width: 100%;
    }
    .game_boy_right {
        right: 15px;
        width: 315px;
        bottom: 0;
    }
    .game_boy_right img {
        width: 100%;
    }
    .form_field {
        max-width: 580px;
    }
    .form_field_border {
        padding: 30px 30px 40px;
        max-width: 600px;
    }
    .form_field h3 {
        font-size: 45px;
        margin-bottom: 15px;
    }
    /* About-Us */
    .banner-section.about_us::before {
        max-width: 1070px;
        height: 633px;
    }
    .banner-section.about_us::after {
        height: 515px;
    }
    .heading h2 {
        font-size: 48px;
        margin-top: 75px;
    }
    .banner-section.about_us {
        /* margin-bottom: 45px;*/
        margin-bottom: 0;
    }
    .about_field p {
        color: #363636;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'FuturaPT-Light';
        margin-bottom: 15px;
        line-height: 1.4;
    }
    .about_img figure {
        height: 735px;
        max-width: 480px;
        margin-left: 15px;
    }
    .about_bottom p {
        color: #363636;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'FuturaPT-Light';
        margin-bottom: 20px;
        line-height: 1.4;
    }
    .about_bottom {
        margin: 0px 0 50px;
    }
    .about_area {
        margin-bottom: 55px;
        /*padding-top: 90px;*/
        padding-top: 0;
    }
    .about_area.contact_section_form {
        padding-bottom: 55px;
        padding-top: 30px;
    }
    .get_in_tuch .form_field {
        top: 0;
    }
    .get_in_tuch:before {
        height: 30px;
        left: 32px;
        max-width: 500px;
    }
    .main_area .game_mode.about_mode {
        bottom: -250px;
    }
    .top_games p {
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 1px;
        margin-bottom: 55px;
    }
    .top_games .game_img figure {
        height: 355px;
        max-width: 370px;
    }
    .top_games .game_content h3 a {
        font-size: 18px;
        line-height: 1.2;
    }
    .top_games .game_content h3 {
        font-size: 18px;
        line-height: 1.2;
    }
    .top_games .game_content p {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    section.top_games.about_area {
        padding-top: 0;
    }
    .game_review {
        margin-bottom: 35px;
    }
    /* Blog- page */
    .top_games .blog_review .blog-img figure {
        height: 325px;
    }
    .game_content.blog ul {
        margin: 8px 0 5px;
    }
    .read-btn {
        margin: 10px 0 20px;
    }
    .game_content.blog ul li a,
    .game_content.blog ul li {
        font-size: 18px;
    }
    .read-btn a {
        font-size: 20px;
    }
    .pegi_center .pagination {
        margin: 30px 0 35px;
    }
    .pegi_center .pagination > li > a,
    .pegi_center .pagination > li > span {
        padding: 5px 15px;
        font-size: 28px;
    }
    .recent_post h3 {
        margin-bottom: 25px;
    }
    .recent_blog {
        margin-bottom: 18px;
    }
    .product_input {
        margin-bottom: 30px;
    }
    .recent_post {
        padding: 15px 15px 10px;
        margin-bottom: 35px;
    }
    .blog_details_img {
        max-width: 90px;
    }
    .detail_content {
        max-width: 234px;
    }
    .product_input .navbar-form {
        width: 100%;
        padding: 0;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: 100% !important;
        vertical-align: middle;
    }
    .product_input input {
        margin-bottom: 0px;
        background: url(../images/search.png) no-repeat 95% 50%;
        padding-right: 45px;
    }
    .detail-images figure {
        height: 360px;
        max-width: 740px;
    }
    .detail-images {
        margin-bottom: 15px;
    }
    .details_blog h3 {
        font-size: 28px;
        margin-bottom: 5px;
    }
    .details_blog p:last-child {
        margin-bottom: 70px;
    }
    .details_blog p {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    section.top_games.about_area.game_details {
        padding-top: 0;
    }

    section.trust_area {
        margin-top: -35px;
        background: #fff;
        position: relative;
        z-index: 1;
        top: -20px;
        padding-bottom: 10px;
    }
    .landing_section {
        height: 833px;
    }

    .landing_content {
        max-width: 660px;
        padding: 25px 10px;
    }
    .landing_content h2 {
        font-size: 36px;
    }
    .landing_content h3 {
        font-size: 36px;
        margin-bottom: 25px;
    }
    .landing_content .download a {
        padding: 10px 22px;
        font-size: 22px;
    }
    .landing_img figure {
        background-position: center;
        background-repeat: no-repeat;
        height: 532px;
        width: 100%;
        background-size: cover;
    }
    .landing_img {
        max-width: 475px;
        padding-top: 15px;
    }
    .step {
        padding: 0 10px;
    }
    .trust_area .step h4 {
        font-size: 21px;
        margin-bottom: 3px;
    }
    .view {
        height: 207px;
    }
    .banner-section.about_us {
        padding-bottom: 120px;
    }

}

@media screen and (max-width:1199px) {
    .page-id-6 .item .read_more {
        margin: 0;
        position: absolute;
        bottom: 490px;
        left: 45%;
    }
    .page-id-6 .banner-section {
        padding-bottom: 15px;
    }
    .main_area .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 605px;
    }
    .banner-section:after {
        max-width: 600px;
        height: 840px;
    }
    .banner-section:before {
        max-width: 860px;
        height: 900px;
    }
    .main_area .mobile figure {
        height: 820px;
        width: 100%;
        max-width: 340px;
    }
    .main_area .carousel-inner .item ul {
        max-width: 555px;
        top: 150px;
    }
    .main_area .carousel-inner .item ul li {
        font-size: 22px;
        padding-left: 20px;
    }
    .main_area .carousel-indicators {
        right: 110px;
        padding-left: 75px;
        bottom: 151px;
    }
    .banner_head {
        top: 185px;
    }
    .main_area .game_mode {
        width: 280px;
        bottom: -47px;
        right: 60px;
    }

    .game_boy {
        bottom: -140px;
        left: 0;
        width: 155px;
        height: 340px;
    }
    .game_boy_right {
        right: 15px;
        width: 205px;
        bottom: -37px;
    }
    .banner-section {
        margin-bottom: 10px;
        padding: 0;
        overflow-x: hidden;
        z-index: 9;
    }
    .main_heading h3 {
        font-size: 55px;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    .top-games:before {
        height: 690px;
    }
    .top-games:after {
        height: 690px;
        -webkit-clip-path: polygon(39% 4%, 100% 0%, 100% 100%, 31% 98%);
        clip-path: polygon(39% 4%, 100% 0%, 100% 100%, 31% 98%);
    }
    .dowanload_img {
        max-width: 485px;
    }
    .dowanload_content {
        max-width: 390px;
    }
    .dowanload_content strong {
        font-size: 26px;
    }

    /* About-Us-Page */
    .about_img figure {
        height: 600px;
        max-width: 400px;
        margin-left: 0;
    }
    .banner-section.about_us {
        margin-bottom: 0px;
        padding-bottom: 5px;
    }
    section.top_games.about_area {
        padding-top: 0;
    }
    .banner-section.about_us::after {
        height: 460px;
    }
    .banner-section.about_us::before {
        max-width: 820px;
        height: 530px;
    }
    .main_area .game_mode.about_mode {
        bottom: -160px;
    }
    .heading h2 {
        font-size: 48px;
        margin-top: 40px;
    }
    .top_games.about_area .col-md-6.col-sm-6.col-xs-12:nth-child(2n + 1) {
        clear: both;
    }
    .about_area {
        margin-bottom: 55px;
        padding-top: 10px;
    }
    .get_in_tuch:before {
        height: 31px;
        left: 20px;
        max-width: 420px;
    }
    .detail-images figure {
        height: 355px;
        max-width: 700px;
    }
    section.top_games.about_area.game_details {
        padding-top: 0;
    }
    .flex-direction-nav .flex-next {
        right: -35px;
    }
    .main_heading h3:after {
        left: 43%;
    }

}

@media screen and (max-width:991px) {
    .main_area .carousel-inner .item ul li {
        font-size: 20px;
        padding-left: 20px;
    }
    .banner-section.about_us {
        margin-bottom: 0px;
        padding-bottom: 30px;
    }
    .heading h2 {
        margin-top: 5px;
    }
    .page-id-6 .item .read_more {
        bottom: 580px;
        left: 35%;
    }
    a.navbar-brand img {
        width: 65%;
    }
    .header_section .collapse.navbar-collapse {
        margin-top: 34px;
    }
    .header_section .navbar-default .navbar-nav > li {
        padding: 0 19px;
    }
    .main_area .carousel-inner {
        height: 480px;
    }
    .banner-section:before {
        max-width: 715px;
        height: 720px;
    }
    .banner-section:after {
        max-width: 600px;
        height: 660px;
    }
    .main_area .mobile {
        padding-left: 0;
        margin-top: 13px;
        max-width: 235px;
    }
    .main_area .mobile {
        padding-left: 0;
        margin-top: 13px;
        max-width: 235px;
    }
    .main_area .game_mode {
        width: 280px;
        bottom: 0;
        right: 0;
    }
    .main_area .carousel-indicators {
        right: 110px;
        padding-left: 0;
        bottom: 145px;
    }
    .main_area .carousel-inner .item ul {
        max-width: 495px;
        top: 57px;
    }
    .army_man {
        right: 15px;
        width: 100%;
        max-width: 220px;
        top: -170px;
    }
    .dowanload_content {
        vertical-align: middle;
    }
    .blog_img figure {
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat;
        height: 220px;
        width: 100%;
        max-width: 220px;
    }
    .dowanload_img {
        max-width: 250px;
        padding-top: 85px;
    }
    .dowanload_img figure {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 250px;
        width: 100%;
        max-width: 190px;
    }
    .dowanload_content strong {
        font-size: 26px;
        margin-bottom: 25px;
    }
    .read_more {
        margin: 37px 0 60px 10px;
    }
    .dowanload_now {
        padding: 90px 0 0;
        -webkit-clip-path: polygon(0% 0%, 99% 5%, 90% 63%, 3% 58%);
        clip-path: polygon(0% 0%, 99% 5%, 90% 63%, 3% 58%);
    }
    .pink_back:before {
        -webkit-clip-path: polygon(10% 10%, 91% 10%, 87% 39%, 8% 30%);
        clip-path: polygon(10% 10%, 91% 10%, 87% 39%, 8% 30%);
    }
    .main_heading h3:after {
        left: 40%;
    }
    .blog_bottom:before {
        height: 528px;
        top: 15px;
    }
    .dowanload {
        margin-bottom: 0;
    }
    section.blog {
        margin-top: -205px;
    }
    .blog_content p {
        font-size: 15px;
        margin-left: 0;
    }
    .blog_content h3 {
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 0;
        margin-left: 0;
    }
    .read_more a {
        padding: 16px 40px;
        font-size: 18px;
    }
    .about_img figure {
        height: 440px;
        max-width: 340px;
        margin-left: 0;
    }
    .game_boy {
        bottom: -217px;
        left: 0;
        width: 120px;
        height: 340px;
    }
    .game_boy_right {
        right: 15px;
        width: 162px;
        bottom: -37px;
    }
    .top_games .game_img figure {
        height: 265px;
        max-width: 345px;
    }
    .top_games.about_area .col-md-3.col-sm-4.col-xs-12:nth-child(4n + 1) {
        clear: none;
    }
    .top_games.about_area .col-md-3.col-sm-4.col-xs-12:nth-child(3n + 1) {
        clear: both;
    }
    .game_review {
        margin-bottom: 15px;
    }
    .fav_icon {
        text-align: center;
    }
    section.about_area.contact_section_form .col-sm-6.col-xs-12 {
        width: 100%;
    }
    .twitter_right {
        text-align: left;
    }
    .get_in_tuch:before {
        height: 31px;
        left: 92px;
        max-width: 540px;
    }
    .twit_icon::before {
        display: none;
    }
    .top-games:before {
        height: 640px;
    }
    .top-games:after {
        height: 690px;
        -webkit-clip-path: polygon(39% 4%, 100% 0%, 100% 94%, 34% 92%);
        clip-path: polygon(39% 4%, 100% 0%, 100% 94%, 34% 92%);
    }
    .navbar-form .form-control {
        width: 100%;
    }
    .detail_content {
        max-width: 155px;
    }
    .detail-images figure {
        height: 230px;
        max-width: 700px;
    }
    section.top_games.about_area.game_details {
        padding-top: 0;
    }
    .profile_content {
        max-width: 130px;
        padding-left: 10px;
    }
    .flex-direction-nav .flex-next {
        right: 0;
    }
/*    #myModal .modal-dialog {
        width: 765px;
    }*/
    .landing_img {
        max-width: 300px;
        padding-top: 0;
        float: right;
        margin-top: -83px;
    }
    .landing_img figure {
        height: 330px;
    }
    .trust_area .step span {
        padding: 10px 33px;
        font-size: 20px;
    }
    .main_area .game_mode.about_mode {
        bottom: -184px;
        right: 0;
    }
}



@media screen and (max-width:767px) {
    .pop_ul ul li figure {
        display: inline-block;
        vertical-align: middle;
        position: static;
        top: 0;
        right: 0;
    }
    .pop_ul ul li p {
        color: #383837;
        font-size: 24px;
        font-family: 'FuturaPT-Demi';
        text-transform: uppercase;
        padding: 0;
    }
    .header_section .collapse.navbar-collapse {
        width: 100%;
        margin-right 0;
        margin-left: 0;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right 0;
        margin-left: 0;
    }

    .header_section .navbar-default .navbar-collapse,
    .header_section .navbar-default .navbar-form {
        width: 100%;
        margin-right 0;
        margin-left: 0;
    }

    .header .navbar-brand img {
        width: 75%;
    }
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .sr-only {
        display: none;
    }
    .header_section .collapse.navbar-collapse {
        float: none;
    }
    .header_section .navbar-default .navbar-nav {
        margin-top: 5px;
    }
    .header_section .navbar-toggle .icon-bar {
        width: 30px;
    }
    .header_section .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    .header_section .navbar-toggle {
        display: block;
        clear: left;
        position: absolute;
        right: 20px;
        top: 30px;
        margin: 0;
        padding: 0;
        border: none;
    }
    .header_section .navbar-default .navbar-toggle .icon-bar {
        background-color: #52e2d8;
    }
    .header_section .navbar-toggle .icon-bar {
        height: 3px;
        top: 0;
        position: relative;
    }
    .header_section .navbar-toggle .icon-bar:first-child {
        top: 8px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .header_section .navbar-toggle .icon-bar:nth-child(2) {
        opacity: 0;
    }
    .header_section .navbar-toggle .icon-bar:last-child {
        top: -6px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header_section .navbar-toggle.collapsed .icon-bar {
        position: relative;
        top: 0;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .header_section .navbar-default .navbar-toggle:focus,
    .header_section .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .header_section .navbar-toggle.collapsed .icon-bar:first-child {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .header_section .navbar-toggle.collapsed .icon-bar:nth-child(2) {
        opacity: 1;
    }
    .header_section .navbar-toggle.collapsed .icon-bar:last-child {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .header_section .navbar-default .navbar-collapse,
    .header_section .navbar-default .navbar-form {
        background: #fff;
        border: none;
        overflow: hidden !important;
        margin-top: 15px;
        padding-left: 0;
        margin-left: 0;
    }
    .header_section .navbar-nav {
        width: 100%;
        margin: 0;
        float: none;
    }
    .header_section .navbar-default .navbar-nav > li {
        padding: 0;
        border-bottom: solid 1px #ccc;
    }
    .header_section .navbar-default .navbar-nav > li > a {
        padding: 12px 15px;
        font-size: 18px;
        color: #5e94fc;
    }
    .header_section .navbar-default .navbar-nav > .current-menu-item > a,
    .header_section .navbar-default .navbar-nav > .current-menu-item > a:focus,
    .header_section .navbar-default .navbar-nav > .current-menu-item > a:hover {
        color: #fe7a8c;
        background-color: transparent;
    }
    /* //Navigation-Css-here */
    a.navbar-brand img {
        width: 100%;
        max-width: 100px;
    }
    .logo_center a.navbar-brand img {
        width: 100%;
        max-width: 100% !important;
    }
    .mobile figure img {
        display: none;
    }
    .heading h2 {
        font-size: 32px;
        margin-top: 0;
    }
    .banner-section.about_us::after {
        height: 420px;
    }
    .banner-section.about_us::before {
        max-width: 355px;
        height: 440px;
        -webkit-transform: skew(16deg, 11deg);
        transform: skew(16deg, 11deg);
    }
    .main_area .game_mode {
        width: 180px;
        bottom: -65px;
        right: 0;
    }
    .read_more .wpcf7-form-control {
        padding: 15px 60px;
    }
    .about-section {
        margin-top: -70px;
    }
    .main_area .game_mode.about_mode {
        bottom: -155px;
        right: 0;
    }
    .heading {
        margin-top: -30px;
    }
    .blog_img figure {
        background-size: cover !important;
        background-position: center !important;
        max-width: 100%;
    }
    .blog_bottom:before {
        height: 482px;
        top: 15px;
    }
    .main_heading h3:after {
        left: 33%;
    }
    .top-games:before {
        height: 760px;
    }
    .top-games:after {
        height: 800px;
    }
    .army_man {
        right: 15px;
        width: 100%;
        max-width: 150px;
        top: -102px;
    }
    .contact_form {
        margin-bottom: 150px;
    }
    .form_field {
        top: 100px;
    }
    .blog_bottom {
        margin-bottom: 40px;
    }

    .banner-section:after {
        max-width: 600px;
        height: 790px;
    }
    .banner-section:before {
        max-width: 760px;
        height: 830px;
    }
    .main_area .carousel-indicators {
        right: 0;
        padding-left: 0;
        bottom: 100px;
    }
    .main_area .mobile {
        padding-left: 10px;
        max-width: 130px;
        position: relative;
        top: -115px;
        margin: 41px auto 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .main_area .carousel-inner .item ul li {
        font-size: 16px;
        padding-left: 15px;
    }

    .main_area .carousel-inner .item ul {
        top: 0;
        padding: 20px 10px;
        width: 100%;
        max-width: 100% !important;
    }

.contact_form {
    margin-bottom: 0;
}

.contact_form:after {
    height: 740px;
    -webkit-clip-path: polygon(0% 0%, 42% 8%, 50% 93%, 0% 100%);
    clip-path: polygon(0% 0%, 42% 8%, 50% 93%, 0% 100%);
}

.contact_form:before {
    height: 745px;
}

.main_area .carousel-inner .item ul li:after {
    top: 9px;
}

.page-id-6 .item .read_more {
    bottom: 580px;
    left: 0;
    text-align: center;
    right: 0;
}

.main_heading a {
    bottom: 7px;
}

.about_img figure {
    max-width: 245px;
    margin: 0 auto;
}

.banner-section.about_us {
    margin-bottom: 25px;
}

.game_boy {
    bottom: -120px;
    left: 0;
    width: 110px;
    height: 300px;
}

.game_boy_right {
    right: 15px;
    width: 145px;
    bottom: 35px;
}

.fav_head h3 {
    font-size: 36px;
}

.twitter_right {
    margin-left: 10px;
}

.form_field_border {
    padding: 20px 15px 30px;
    max-width: 100%;
}

.form_field h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.form_field .form_list .form-group .form-control {
    height: 52px;
    padding: 2px 20px 0 55px;
    line-height: 42px;
}

.form_field .form_list .form-group i {
    height: 52px;
    line-height: 90px;
    left: 25px;
}

.get_in_tuch:before {
    opacity: 0;
/*    height: 30px;
    max-width: 84%;
    bottom: -29px;
    left: 24px;*/
}

.dowanload {
    margin-bottom: 48px;
    background: #f4f3ef;
}

.dowanload_content strong {
    font-size: 25px;
    margin-bottom: 0;
}

.read_more {
    margin: 40px 0 45px 20px;
}

.dowanload_img figure {
    background-size: cover;
    background-position: top;
    height: 540px;
    max-width: 380px;
}

.dowanload_content h6 {
    margin-bottom: 85px;
    top: 75px;
}

.dowanload_content p {
    font-size: 28px;
    margin-bottom: 5px;
}

.dowanload_now {
    position: static;
}

.pink_back:before {
    display: none;
    top: 0;
}

.dowanload_now {
    padding: 5px 0 0;
    -webkit-clip-path: none !important;
    clip-path: none !important;
}

section.blog {
    margin: 20px 0 5px;
}

.dowanload_img {
    max-width: 100%;
    padding-top: 85px;
}

.about_area.contact_section_form {
    padding-bottom: 55px;
    margin-top: -140px;
}

section.about_area,
section.top_games.about_area {
    margin-top: -130px;
}

.read-btn {
    margin: 5px 0 0px;
}

.game_review,
.game_review {
    margin-bottom: 15px;
}

.about_area {
    margin-bottom: 35px;
}

.footer_logo {
    margin-bottom: 20px;
}

.footer_head ul {
    padding: 0;
    margin: 0;
}

.footer_head ul li {
    padding: 0 3px;
}

.footer_head ul li a {
    font-size: 18px;
}

.social_icon {
    margin: 15px 0;
}
    .top_games p{
        margin-bottom: 25px;
    }
    .product_input .navbar-form {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 999;
    }
    .detail_content {
        max-width: 220px;
    }
    .detail-images figure {
        height: 230px;
        max-width: 100%;
    }
    .landing_section {
        height: 1015px;
    }
    .landing_img {
        margin-top: -8px;
    }
    section.trust_area {
        margin-top: -40px;
        background: #fff;
        position: relative;
        z-index: 999;
        top: -23px;
        padding-bottom: 10px;
    }
    .trust_area h4{font-size: 28px; margin-bottom: 20px;}
    .view {
        height: 275px;
    }
    .landing_box {
        margin-bottom: 30px;
    }
    .trust_area .step span{margin: 0;}
    .trust_area .step h4 {
        font-size: 18px;
        margin-bottom: 3px;
    }
    div.wpcf7-validation-errors{padding: 10px;}
    #myModal .modal-dialog {
        width: 95%;
    }
    .pop_ul ul li span {
        width: 100%;
    }
    .popup {
        padding: 20px 10px 20px;
    }
    .pop_ul ul li::before {
        font-size: 18px;
        width: 42px;
        height: 42px;
        line-height: 41px;
        margin-bottom: 10px;
    }
    .pop_ul ul li{text-align: center;}
    .profile_img {
        max-width: 140px;
    }
    .main_heading h3 {
        font-size: 38px;
        margin-bottom: 15px;
        padding-top: 30px;
    }
    .top-games .main_heading h3{
       font-size: 38px; 
    }
    /*--======*/
    .sticky_header {
        display: block;
    }
    .logo_center{
        display: none;
    }
    .landing_section{
        margin: 0px auto 0;
    }
    .sticky_header {
        background: rgba(0, 0, 0, 0.47);
        position: fixed;
        z-index: 9999;
        padding: 25px 0;
        width: 100%;
    }
    .sticky_header .logo_width {
        display: inline-block;
        vertical-align: middle;
        width: 70px;
    }
    .sticky_header .logo_width img {
        width: 100%;
    }
    .sticky_header span{
        color: #fff;
        font-size: 24px;
        font-family: 'FuturaBT-Medium';
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        margin-left: 10px;
        line-height: 1.2;
    }
    .sticky_header .more_detail {
        text-align: center;
        margin: 20px 0 0;

    }
    .sticky_header .more_detail a{
        background: #fff;
        border: 1px solid #00ccca;
        color: #00ccca;
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 18px;
        line-height: 1.4;
        font-family: 'FuturaBT-Medium';
    }
    .sticky_header .more_detail a:hover{
        background: #00ccca;
        border: 1px solid #00ccca;
        color: #ffff;
    }
    .landing_content{
        text-align: center;
    }
}

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
    .blog_bottom {
        margin-bottom: 165px;
    }
    section.blog {
        margin: 25px 0 90px;
    }
    .blog_img figure {
        height: 350px;
    }
    .blog_bottom:before {
        height: 491px;
        top: 115px;
    }
    .blog_head {
        width: 100%;
    }
    .main_heading h3:after {
        left: 41%;
    }
    .top-games:after {
        height: 650px;
    }
    .top-games:before {
        height: 610px;
    }
    .get_in_tuch:before {
        left: 54px;
    }
    .detail_content {
        max-width: 510px;
    }
    .detail-images figure {
        height: 417px;
        max-width: 100%;
    }
    .landing_section {
        height: 958px;
    }
    .trust_area h4 {
        padding: 0;
    }
/*    #myModal .modal-dialog {
        width: 610px;
    }*/
    .pop_ul ul li::before {
        width: 24px;
        height: 24px;
        line-height: 23px;
        margin-right: 5px;
    }
    .pop_ul ul li span {
        width: 328px;
    }
 /*    .pop_ul ul li:nth-child(2) span {
        width: 525px;
    }*/
    .pop_ul ul li {
        font-size: 16px;
        padding: 12px 0;
    }
}